# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Build products
DerivedData/
*.app
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
*.swp
*~.nib

# App specific
*.ipa
*.dmg

# Dependencies
Carthage/
Pods/
